@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --main-color: #d4ba91;
    --sec-color: #1e3838;
    --ter-color: #6e5554;
    --qua-color: #677D6A;
    --light-color: #d1cdb7;
    --main-font: 'Montserrat', sans-serif;
    --sec-font: 'Krona One', sans-serif;
    
}

* {
    margin: 0;
    border: 0;
    box-sizing: border-box; 
}

body {
    background-color: var(--qua-color);
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

main {
    display: flex;
    padding: 0.5rem;
    flex: 1;
}

footer {
    padding: 0.6rem;
    text-align: center;
    margin-top: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 18vh; 
    background-color: var(--sec-color); 
    color: var(--main-color);
}

.type-area {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    flex: 1; 
    background-color: var(--main-color);
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 82vh;
    margin: 0.3rem;
}

.type-area__top{
    display: flex;
    justify-content: flex-start; 
    width: 100%; 
    margin-bottom: 1rem;
}

.type-area__img{
    width: 2.5rem;
    margin: 0.3rem;
}

#type-area__text{
    resize: none;
    background-color: transparent;
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 1.9rem;
    color: var(--ter-color);
    width: 70%;
    height: 70%;
    margin: 1rem 3.6rem;
    padding: 0.2rem; 
    border-radius: 5px; 
    text-align: center;
    outline: none;
}

.type-area__warning {
    font-family: var(--main-font);
    font-weight: 500;
    font-size: 1.2rem;
    color: var(--qua-color);
    margin: 0.5rem; 
    font-style: italic;
}

.type-area__buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.dark-button {
    border: 2px solid var(--ter-color);
    background-color: var(--sec-color);
    color: var(--main-color);
}

.light-button {
    color: var(--qua-color);
    background-color: var(--light-color);
    border: 2px solid var(--qua-color);
}

.dark-button,
.light-button {
    font-family: var(--main-font);
    font-weight: 600;
    font-size: 1rem;
    border-radius: 0.7rem;
    width: 50%;
    height: 2.5rem;
    margin: 0.7rem;
    cursor: pointer;
}


.result {
    font-family: var(--sec-font);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 0.3rem;
    border-radius: 10px;
    border: none;
    padding: 1rem;
    width: 30%;
    height: 82vh; 
    background-color: var(--light-color);
    font-style: var(--main-font);
    color: var(--ter-color);
    gap: 0.3rem;
    overflow-y: auto;
    overflow-x: hidden;
}

.result__img {
    width: 11rem;
}

.result__img__caption{
    font-size: 0.7rem;
    font-weight: 300;
    text-decoration: none;
    color: var(--qua-color);
}

#result-title{
    color: var(--ter-color);
    font-size: 1.1rem;
    margin: 0.3rem;
}

#result-text{
    color: var(--qua-color);
    margin: 0 0.2rem; 
    font-size: 0.9rem;
    font-weight: 500;
    word-wrap: break-word;
}

.footer__p{
    font-family: var(--main-font);
    font-size: 1rem;
    font-weight: 450;
    margin-top: 0.2rem;
}

.footer__links{
    width: 100%;
}

.footer__img {
    width: 2rem; 
    height: 2rem; 
    margin: 0rem 0.5rem; 
    margin-top: 0.5rem;
}

@media (max-width: 1100px) {

body{
    overflow-y: auto;
}

main {
    flex-direction: column;
    height: auto;
    padding: 0.6rem;
}

footer{
    height: auto;
    min-height: 22vh;
    padding: 1rem;
    display: flex;
    box-sizing: border-box;
}

.type-area {
    height: 46vh;
    padding: 2.2rem;
}

.type-area__img{
    width: 6.4rem;
    margin: 1rem;
}

#type-area__text{
    height: 90%;
    width: 80%;
    font-size: 4rem;
}

.type-area__warning {
    font-size: 2.8rem;
    margin: 1rem; 
}

.type-area__buttons{
    flex-direction: column;
}

.dark-button,
.light-button {
    border-radius: 20px;
    font-size: 3rem;
    width: 95%;
    height: 7.4rem;
    margin: 0.3rem;
}

.result{
    width: auto;
    height: auto;
    padding: 2.2rem;
}

.result__img{
    width: 20rem;
    margin-top: 2rem;
}

.result__img__caption{
    font-size: 1.5rem;
}

#result-title{
    font-size: 2.5rem;
}

#result-text{
    font-size: 2.2rem;
    margin: 2.4rem;
}

.footer__p{
    font-size: 2.2rem;
    margin-top: 1.4rem;
    margin-bottom: 1rem;
}

.footer__img {
    width: 30%; 
    height: auto; 
    border: 2px var(--qua-color) solid;
    border-radius: 10px;
    padding: 1rem 4.5rem;
    background-color: var(--qua-color);
}
}